<header>Calculator</header>

<form action='/calc' method='get'>
  <input type="text" name="first">
  <input type="text" name="operator">
  <input type="text" name="second">
  <button>Calculate!</button>
</form>

<section>
  <div id='first'><%= @first %></div>
  <div id='second'><%= @second %></div>
  <div id='result'><%= @result %></div>
</section>

<footer>(c) 2013 Chyld Global Industries</footer>
